.mui-panel.panelMargin {
  margin: 0.1rem 0.3rem 0.5rem;
  border-radius: 10px;
}
.container {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0.5rem 1rem;
  padding-bottom: 0;
}

.container > header {
  cursor: pointer;
}

.hideAlways {
  display: none;
}
form {
  max-width: 100%;
}
.expandCard {
  cursor: pointer;
}
.container {
  padding-bottom: 0;
}
.mui--text-headline,
h2 {
  font-size: 1.2rem;
  margin-top: 1rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  color: rgb(65, 65, 65);
}
.mui-panel {
  padding: 15px 15px 0px 5px;
}
.description {
  height: 7rem;
  overflow-y: scroll;
  white-space: pre-wrap;
}
@media (max-width: 600px) {
}
