.Planner {
  p {
    font-size: 0.875rem;
  }
  .mui-panel.panelMargin {
    margin: 0.1rem 0rem 1.1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    position: relative;
    background-color: var(--white);
    opacity: 0;
  }
  .category-color {
    height: 100%;
    width: 4px;
    position: absolute;
    background-color: black;
    //transform: translate(-5px, -15px);
    border-radius: 25px 0 0 25px;
  }
  .container {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 1rem;
    padding-bottom: 0;
    .description {
      scrollbar-width: 2px;
      height: max-content;
      max-height: 200px;
      overflow-y: scroll;
      white-space: pre-wrap;
      &::-webkit-scrollbar {
        width: 2px;
      }
    }
    svg {
      width: 20px;
      height: 20px;
    }
    .flex-wrapper svg {
      width: 25px;
      height: 25px;
    }
  }
  .flex-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    p {
      padding: 0.3rem 0;
      font-size: 0.85rem;
    }
    .due {
      text-align: right;
      font-size: 0.7rem;
      font-family: "IBMPlexSans-Regular";
      color: var(--light-text);
      transform: translateY(3px);
    }
  }
  .panelMargin[data-state="visible"] .flex-wrapper {
    display: block;
    .due {
      text-align: left;
    }
  }
  .container > header {
    cursor: pointer;
  }

  .flex-wrapper {
    width: 100%;
  }
  .panelMargin[data-state="visible"] .bottom-wrapper {
    padding: 1rem 0;
  }

  .assignedTo {
    padding: 0.5rem 0;
  }

  .panelMargin[data-state="hidden"] .assignedTo {
    padding: 0.3rem 0;
    display: none;
  }

  .container .MuiFormControl-root {
    //margin: 1rem 0;
  }

  header h1,
  .assignedTo {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .panelMargin[data-state="visible"] .assignedTo,
  .panelMargin[data-state="visible"] header h1 {
    white-space: initial;
    overflow: visible;
    text-overflow: initial;
    display: block;
  }

  .panelMargin[data-state="visible"] header h1 {
    padding: 0rem 0 1rem 0;
    width: 100%;
  }

  .hideAlways {
    display: none;
  }
  form {
    max-width: 100%;
  }
  .expandCard {
    cursor: pointer;
  }
  .container {
    padding-bottom: 0;
  }
  .mui--text-headline,
  h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    color: rgb(65, 65, 65);
  }
  .mui-panel {
    padding: 0;
  }

  .panelMargin[data-state="visible"] .bottom-wrapper {
    display: flex;
    align-items: center;
  }
  .panelMargin[data-state="hidden"] .option_wrapper {
    display: none;
  }
  .panelMargin[data-state="hidden"] .name-popup {
    display: none;
  }
  .panelMargin[data-state="visible"] .name-popup {
    background-color: var(--white);
    padding: 1rem 1rem 0.5rem;
    position: absolute;
    z-index: 1;
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    opacity: 0;
    p {
      padding-bottom: 0.5rem;
    }
  }
}

.pic-wrapper {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  div {
    width: 55px;
    height: 55px;
    display: flex;
    padding: 1rem 0 0.5rem;
  }
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}
.smaller .pic-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-bottom: 0rem;
  div {
    width: 30px;
    display: flex;
    padding: 0.8rem 0 0.5rem;
    height: auto;
  }
  img {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 600px) {
  .Planner .mui-panel.panelMargin {
    margin: 0.1rem 0.5rem 1rem;
  }
}
@media (min-width: 1000px) {
  .panelMargin[data-state="visible"] .name-popup {
    display: none;
  }
  .pic-wrapper {
    div {
      width: 50px;
      height: 50px;
    }
    img {
      width: 45px;
      height: 45px;
    }
  }
  .smaller .pic-wrapper {
    div {
      width: 23px;
    }
    img {
      width: 28px;
      height: 28px;
    }
  }
}
