.Planner {
  form > * {
    margin: 0;
  }

  form input,
  form textarea {
    margin-bottom: 0.5rem;
  }

  form {
    padding-bottom: 2rem;
  }
  select {
    display: inline;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--black);
    border: none;
  }

  .panelMargin[data-state="visible"] .option_wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .option_wrapper button {
    margin-top: 0;
  }
  .mui-btn--primary.btn {
    color: var(--black);
    background-color: #7f7f7f;
    border-radius: 5px;
  }
  .float-btn.delete {
    background-color: var(--secondary);
    margin-right: 1rem;
  }
  .float-btn.edit {
    background-color: var(--primary);
  }

  .colorLabel,
  .mui-textfield--float-label > label {
    color: rgb(60, 60, 60);
    font-size: 14px;
    font-weight: 300;
  }
  .mui-btn--primary.btn.submit:disabled {
    background-color: #9b9b9b;
  }
  .mui-btn--primary.btn.submit {
    color: white;
  }

  .mui-textfield > input:invalid:not(:focus):not(:required),
  .mui-textfield > input:invalid:not(:focus):required.mui--is-empty.mui--is-touched,
  .mui-textfield > input:invalid:not(:focus):required.mui--is-not-empty,
  .mui-textfield > input:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty),
  .mui-textfield
    > input:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty),
  .mui-textfield > input:not(:focus).mui--is-invalid:not(:required),
  .mui-textfield > input:not(:focus).mui--is-invalid:required.mui--is-empty.mui--is-touched,
  .mui-textfield > input:not(:focus).mui--is-invalid:required.mui--is-not-empty,
  .mui-textfield > input:not(:focus).mui--is-invalid:required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty),
  .mui-textfield
    > input:not(:focus).mui--is-invalid:required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) {
    border-color: var(--error);
  }
  .mui-textfield--float-label.description {
    margin-bottom: 0;
  }
  .addForm {
    padding: 1rem 2rem;

    @supports (-webkit-touch-callout: none) {
      height: 80vh;
      max-height: 100%;
    }

    @supports not (-webkit-touch-callout: none) {
      height: 100%;
      max-height: var(--px);
    }
  }
  .colorLabel {
    padding: 0 0 2rem 0;
  }

  .colorInput {
    padding-top: 1rem;
  }

  .flex textarea {
    height: 6rem;
  }
  @media (max-width: 600px) {
    .addForm {
      overflow: scroll;
    }
  }
}
