.Planner {
  form > * {
    margin: 0;
  }

  /*   form input,
  form textarea {
    margin-bottom: 0.5rem;
  } */

  form {
    padding-bottom: 2rem;
  }
  select {
    display: inline;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--black);
    border: none;
  }

  .panelMargin[data-state="visible"] .option_wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .option_wrapper button {
    margin-top: 0;
  }
  .mui-btn--primary.btn {
    color: var(--black);
    background-color: #7f7f7f;
    border-radius: 5px;
  }
  .float-btn.delete {
    background-color: var(--secondary);
    margin-right: 1rem;
    width: 40px;
    height: 40px;
  }
  .float-btn.edit {
    background-color: var(--primary);
    width: 40px;
    height: 40px;
  }

  .colorLabel,
  .mui-textfield--float-label > label {
    color: rgb(60, 60, 60);
    font-size: 14px;
    font-weight: 300;
  }
  .mui-btn--primary.btn.submit:disabled {
    background-color: #9b9b9b;
  }
  .mui-btn--primary.btn.submit {
    color: var(--white);
  }

  .mui-textfield > input:invalid:not(:focus):not(:required),
  .mui-textfield > input:invalid:not(:focus):required.mui--is-empty.mui--is-touched,
  .mui-textfield > input:invalid:not(:focus):required.mui--is-not-empty,
  .mui-textfield > input:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty),
  .mui-textfield
    > input:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty),
  .mui-textfield > input:not(:focus).mui--is-invalid:not(:required),
  .mui-textfield > input:not(:focus).mui--is-invalid:required.mui--is-empty.mui--is-touched,
  .mui-textfield > input:not(:focus).mui--is-invalid:required.mui--is-not-empty,
  .mui-textfield > input:not(:focus).mui--is-invalid:required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty),
  .mui-textfield
    > input:not(:focus).mui--is-invalid:required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) {
    border-color: var(--error);
  }
  .mui-textfield--float-label.description {
    margin-bottom: 0;
  }

  .addForm {
    padding: 2rem 2rem;
    width: calc(100vw - 1.4rem);
    overflow-y: scroll;

    @supports (-webkit-touch-callout: none) {
      // height: 80vh;
      height: calc(var(--vh, 1vh) * 80);
      max-height: 100%;
    }

    @supports not (-webkit-touch-callout: none) {
      height: 100%;
      max-height: var(--px);
    }
  }
  .colorLabel {
    padding: 0 0 2rem 0;
  }

  .colorInput {
    padding-top: 1rem;
  }

  .flex textarea {
    height: 6rem;
  }

  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
    padding-right: 0;
  }
  .MuiChip-root.MuiAutocomplete-tag.MuiChip-deletable {
    background-color: var(--secondary);
    color: var(--white);
    margin-top: 0.2rem;
    svg {
      fill: var(--white);
    }
  }

  .float-btn.cancel {
    background-color: var(--secondary);
  }
  .flex .float-btn.cancel {
    width: 40px;
  }

  .float-btn.save {
    background-color: var(--primary);
  }
  #form .flex-wrapper,
  .form .flex-wrapper {
    position: absolute;
    bottom: 2rem;
    width: calc(100% - 4rem);
    left: 2rem;
  }

  .task-sent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section > nav > div > svg,
  form > div.task-sent > svg {
    width: 120px;
    height: 120px;
    fill: var(--primary);
  }
  .bg h1,
  .editContainer h1 {
    font-size: 1.25rem;
    margin: 0;
    color: var(--dark-text);
    padding: 0 0 1rem 0;
  }
}
body[data-state="dark"] .Planner .MuiChip-root.MuiAutocomplete-tag.MuiChip-deletable {
  background-color: var(--tietery);
  color: var(--button);
  margin-top: 0.2rem;
  svg {
    fill: var(--white);
  }
}

li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
  padding: 0.5rem 2rem 0.5rem 1rem;
}

@media (max-width: 600px) {
  .Planner {
    .addForm {
      overflow: scroll;
    }
  }
}
@media (min-width: 1000px) {
  .Planner {
    .flex .float-btn.cancel {
      width: 50px;
    }
  }
  .NewTask.showNew {
    padding: 4rem 0;
  }
}
