.Planner {
  .scrollList {
    min-width: 275px;
    overflow: hidden;
  }
  .float-btn.add-task {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: var(--primary);
  }

  .Done,
  .progress,
  .To.Do,
  .Barrier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 10;
    min-width: 275px;
    padding-bottom: 0rem;
  }
  .Done h1,
  .progress h1,
  .To.Do h1,
  .bg h2,
  .Barrier h1 {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: var(--dark-text);
    padding-left: 0.7rem;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
  .Done,
  .progress,
  .To.Do,
  .Barrier,
  .bg {
    color: white;
  }
  .Done1 .Done h1,
  .To.Do1 .To.Do h1,
  .Barrier1 .Barrier,
  .progress1 .progress {
    display: none;
  }

  .scrollList > ul {
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;

    @supports (-webkit-touch-callout: none) {
      height: 80vh;
      max-height: 100%;
    }

    @supports not (-webkit-touch-callout: none) {
      height: calc(100% - 2rem);
      max-height: var(--px);
    }
  }
  @media (max-width: 600px) {
    .scrollList {
      position: absolute;
      height: 100%;

      overflow-x: hidden;
    }
    .To.Do,
    .Done,
    .progress,
    .Barrier {
      width: 100%;
    }
  }
}
@media (min-width: 600px) {
  .Planner {
    .scrollList {
      min-width: 300px;
    }
  }
  .dropdown-wrapper {
    display: none;
  }
  .planner-wrapper .relativeContainer {
    padding: 0.5rem 0;
    column-gap: 0;
    grid-column-gap: 0;
    overflow-x: scroll;
  }
}

@media (min-width: 1000px) {
  .planner-wrapper .relativeContainer {
    padding: 1.3rem 1.5rem 0rem;
    // width: calc(100% + 9rem);
    width: calc(100vw + 235px);
  }
  .Planner {
    .Done1 .Done h1,
    .To.Do1 .To.Do h1,
    .Barrier1 .Barrier,
    .progress1 .progress {
      display: block;
    }
    .Done,
    .progress,
    .To.Do,
    .Barrier {
      padding-bottom: 0.2rem;
    }
  }
}
@media (min-width: 1250px) {
  .planner-wrapper .relativeContainer {
    width: calc(100vw);
  }
}
@media (min-width: 1300px) {
  .planner-wrapper .relativeContainer {
    width: calc(100vw - 250px);
  }
}
