@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("../../../fonts/IBMPlexSans-Bold.eot");
  src: url("../../../fonts/IBMPlexSans-Bold.woff2") format("woff2"),
    url("../../../fonts/IBMPlexSans-Bold.woff") format("woff"),
    url("../../../fonts/IBMPlexSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../../../fonts/IBMPlexSans-Medium.eot");
  src: url("../../../fonts/IBMPlexSans-Medium.woff2") format("woff2"),
    url("../../../fonts/IBMPlexSans-Medium.woff") format("woff"),
    url("../../../fonts/IBMPlexSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("../../../fonts/IBMPlexSans-Regular.eot");
  src: url("../../../fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("../../../fonts/IBMPlexSans-Regular.woff") format("woff"),
    url("../../../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../../../fonts/IBMPlexSans-SemiBold.eot");
  src: url("../../../fonts/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("../../../fonts/IBMPlexSans-SemiBold.woff") format("woff"),
    url("../../../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
}

.planner-wrapper {
  display: block;
  position: relative;
  top: 0;
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--background);

  .NewTask {
    width: 100vw;

    position: fixed;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 101;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
  }
  .NewTask .addForm,
  .editContainer .edit-wrapper {
    max-width: 500px;

    background-color: var(--white);
    height: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
  }
  .editContainer .edit-wrapper {
    padding: 2rem;
    width: 100%;
  }
  h1 {
    font-family: "IBMPlexSans-SemiBold";
  }
  h2 {
    font-family: "IBMPlexSans-Bold";
  }
  h3 {
    font-family: "IBMPlexSans-Medium";
  }
  p,
  label .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
    font-family: "IBMPlexSans-Regular";
  }
  button:not(.MuiIconButton-root),
  button.MuiButton-root:not(.MuiIconButton-root) {
    font-family: "IBMPlexSans-Medium";
    color: var(--white);
    font-size: 0.85rem;
    padding: 0.5rem 2.5rem;
    border: none;
    box-shadow: var(--shadow-button);
    border-radius: 50%;
    letter-spacing: 0.5px;
  }
  .float-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    &:disabled {
      filter: brightness(1.5) saturate(0.2);
    }
  }
  .float-btn svg {
    fill: var(--button);
    stroke: var(--button);
    stroke-width: 1px;
  }
  img {
    box-shadow: var(--shadow-image);
    border-radius: 50%;
  }
  .text-btn {
    background-color: var(--primary);
    background: var(--gradient);
  }
  nav h2 {
    padding: 0.8rem 0 0 2rem;
  }

  .Main {
    height: calc((var(--vh, 1vh) * 100) - 60px);
    overflow: hidden;

    padding-bottom: 3rem;
  }

  .relativeContainer {
    height: calc(100% - 60px);
    width: 100%;
    padding: 0.5rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.2rem;
  }

  .addForm,
  .flex,
  ul {
    overflow-y: scroll;
    scrollbar-width: 0;
  }

  .scrollList::-webkit-scrollbar,
  .addForm::-webkit-scrollbar,
  .flex::-webkit-scrollbar,
  ul::-webkit-scrollbar,
  .description::-webkit-scrollbar {
    width: 0;
  }
  .Main::-webkit-scrollbar {
    height: 0.3rem;
  }

  textarea::-webkit-scrollbar,
  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .theList {
    text-transform: lowercase;
    margin: 0;
    padding: 0;
  }
  .inline {
    display: inline;
  }

  label {
    display: block;
  }

  .load_container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .loading {
    height: 8rem;
  }
  .hide {
    display: none;
  }
}

@media (max-width: 600px) {
  .planner-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    padding-right: 0;

    .Main {
      height: 100%;
      overflow: hidden;
    }

    .NewTask {
      position: absolute;
      width: calc(100% - 40px);
    }
    .relativeContainer {
      display: block;
    }
  }
}
@media (min-width: 1000px) {
  .planner-wrapper {
    .Main {
      height: calc((var(--vh, 1vh) * 100) - 80px);
    }
    .float-btn {
      width: 50px;
      height: 50px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    .Main {
      width: calc(100vw - 250px);
      padding-bottom: 0;
      overflow-x: scroll;
    }
    .relativeContainer {
      column-gap: 0.7rem;
      padding: 0.5rem 2rem;
      height: 100%;
    }
    .scrollList {
      padding-right: 0.5rem;
    }
    .NewTask {
      top: 0;
      left: 0;
    }
  }
}
