/* .AppPlanner {
  .MuiAccordion-root.panelMargin {
    margin: 0.1rem 0.3rem 0.5rem;
    border-radius: 10px;
  }

  .container > header {
    cursor: pointer;
  }


  form {
    max-width: 100%;
  }
  .expandCard {
    cursor: pointer;
  }
  .container {
    padding-bottom: 0;
  }
  .float-btn {
    background-color: var(--primary);
    margin-left: 0.8rem;
    &.delete {
      background-color: var(--secondary);
    }
  }
  h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    color: rgb(65, 65, 65);
  }
  .MuiAccordion-root {
    padding: 15px 15px 0px 5px;
  }
  .description {
    height: 7rem;
    overflow-y: scroll;
    white-space: pre-wrap;
  }
}
 */

.container {
  .description {
    overflow: scroll;
  }

  .card {
    padding: 0.5rem 1rem;
  }
}
/* .hideAlways {
  display: none;
} */

.AppPlanner .MuiAccordion-root.MuiAccordion-rounded {
  border: none;
}
//MuiPaper-root MuiAccordion-root panelMargin smaller a5f1d7f6f8ada1e610003b827 MuiAccordion-rounded MuiPaper-elevation1 MuiPaper-rounded
