.AppPlanner {
  form > * {
    margin: 0;
  }

  form input {
    margin-bottom: 0.5rem;
  }

  form {
    padding-bottom: 2rem;
  }
  select {
    display: inline;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--black);
    border: none;
  }

  .option_wrapper {
    display: flex;
    justify-content: flex-end;
    position: absoulute;
  }

  .option_wrapper button {
    margin-top: 0;
  }

  .MuiButtonBase-root.btn.submit:disabled {
    background-color: #9b9b9b;
  }
  .MuiButtonBase-root.btn.submit {
    color: white;
  }

  .MuiFormControl-root.description {
    margin-bottom: 0;
  }
  .addForm {
    padding: 1rem 2rem;

    @supports (-webkit-touch-callout: none) {
      height: 80vh;
      max-height: 100%;
    }

    @supports not (-webkit-touch-callout: none) {
      height: 100%;
      max-height: var(--px);
    }
  }
  .colorLabel {
    padding: 0 0 2rem 0;
  }

  .colorInput {
    padding-top: 1rem;
  }
}
@media (max-width: 600px) {
  .AppPlanner {
    .addForm {
      overflow: scroll;
    }
  }
}
