:root {
  --forth-color: #b0b9bf;
  --fifth-color: #f0f1f2;
  --black: #000000;
  --white: #ffffff;
  --dark: rgb(113, 113, 113);
  --danger-button: rgb(217 187 186);
  --disabled-button: rgb(192, 141, 141);
  --error: rgb(158 68 68);
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
body .AppPlanner {
  margin: 0;
  font-family: "IBMPlexSans-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.AppPlanner {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  top: 0;
  height: calc(var(--vh, 1vh) * 100);
  padding-right: 1rem;
  p {
    font-weight: 300;
  }

  .Nav {
    min-width: 300px;
    position: relative;
    height: calc((var(--vh, 1vh) * 100) - 5rem);
  }

  nav h2 {
    padding: 0.8rem 0 0 2rem;
  }

  .Main {
    height: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .relativeContainer {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .addForm,
  .flex,
  ul {
    overflow-y: scroll;
    scrollbar-width: 0;
  }

  .scrollList::-webkit-scrollbar,
  .addForm::-webkit-scrollbar,
  .flex::-webkit-scrollbar,
  ul::-webkit-scrollbar,
  .description::-webkit-scrollbar {
    width: 0;
  }

  textarea::-webkit-scrollbar,
  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
    background: #2b76a87b;
    border-radius: 20px;
  }
  ::selection {
    background: #c7d6dd;
  }

  ::-moz-selection {
    background: #c7d6dd;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li > * {
    margin-top: 0.5rem;
  }
  .theList {
    text-transform: lowercase;
    margin: 0;
    padding: 0;
  }
  .inline {
    display: inline;
  }

  label {
    display: block;
  }

  .load_container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .loading {
    height: 8rem;
  }
  .hide {
    display: none;
  }
}

@media (max-width: 600px) {
  .AppPlanner {
    position: relative;
    overflow: hidden;
    display: block;
    padding-right: 0;

    .Main {
      height: 100%;
      overflow: hidden;
    }

    .Nav {
      position: absolute;
      width: calc(100% - 40px);
    }
    .relativeContainer {
      display: block;
    }
  }
}
