.Administration {
  min-height: 100%;
}
.MainDesktop {
  padding: 0.5rem 0.5rem 3.2rem;
}
.MainAdmin,
.MainDesktop {
  background-color: var(--background);
  min-height: calc(var(--vh, 1vh) * 100);
  height: 100%;
}
.UserList {
  height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
  padding: 0.5rem 0.5rem 3.2rem;
  position: relative;
}
.userCard {
  opacity: 0;
}

.UserCard {
  width: 100%;
  opacity: 0;
  grid-template-areas:
    "image info info"
    "image division button";
  grid-template-columns: 90px auto 120px;
  grid-template-rows: 65% 35%;
  height: 9rem;
  padding: 1rem;
  margin-bottom: 1.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 1px 15px #384d6228;
  background-color: var(--white);
  display: grid;
  .usercard.name,
  .usercard.position,
  .usercard.division {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.5rem;
  }

  img {
    object-fit: cover;
    grid-area: image;
    width: 90px;
    height: 90px;
    align-self: center;
    justify-self: center;
  }
  .info-container {
    display: block;
    grid-area: info;
    padding-left: 1rem;
    .info-wrapper {
      padding-bottom: 0.8rem;
    }
  }
  button.usercard.btn {
    grid-area: button;
    padding: 0.4rem 1rem;
    width: 5rem;
    height: 2rem;
    justify-self: flex-end;
    align-self: flex-end;
  }
  h1,
  p {
    color: var(--dark-text);
    font-size: 0.95rem;
  }

  h2 {
    color: var(--light-text);
    font-size: 0.65rem;
    padding-bottom: 0.2rem;
  }
  .info-wrapper {
    padding: 0 0rem 1.3rem;
  }
}

@media (min-width: 400px) {
  .UserCard {
    grid-template-columns: 100px auto 120px;
    img {
      justify-self: flex-start;
    }
  }
}
@media (min-width: 420px) {
  .UserCard {
    grid-template-columns: 110px auto 120px;
    img {
      justify-self: flex-start;
    }
  }
}
@media (min-width: 460px) {
  .UserCard {
    grid-template-columns: 125px auto 120px;
    img {
      width: 7rem;
      height: 7rem;
    }
  }
}

@media (min-width: 500px) {
  .grid-wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
  }
  .UserCard {
    grid-template-areas:
      "image image"
      "info button";
    grid-template-columns: auto 0rem;
    grid-template-rows: 1fr 1fr;
    height: 13.1rem;
    padding: 1rem 0.5rem;
    .info-container {
      padding-left: 1rem;
      .info-wrapper:nth-child(3) {
        padding-bottom: 0.2rem;
      }
    }

    img {
      width: 4rem;
      height: 4rem;
      align-self: flex-start;
      justify-self: center;
    }
    button.usercard.btn {
      padding: 0.4rem 0.5rem;
      width: 3.5rem;
      justify-self: flex-end;
      align-self: flex-end;
      margin-right: 0.3rem;
    }
  }
}

@media (min-width: 600px) {
  .grid-wrapper {
    display: block;
  }
  .UserList {
    height: auto;
    padding: 0.5rem 0.5rem;
  }
  .MainAdmin {
    min-height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll;
    padding: 0.2rem 0.2rem 3.5rem 0.2rem;
    .UserCard {
      margin-bottom: 1.2rem;
      display: grid;
      height: auto;
      padding: 0.7rem;
      grid-template-areas: "image info button";
      grid-template-columns: 40px auto 7rem;
      grid-template-rows: 100%;
      button.usercard.btn {
        align-self: center;
        grid-area: button;
        padding: 0.4rem 0.5rem;
        width: 4rem;
        height: 1.7rem;
        justify-self: flex-end;
        font-size: 0.75rem;
      }
      img {
        grid-area: image;
        justify-self: center;
        align-self: flex-start;
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
      p,
      h1 {
        color: var(--dark-text);
        font-size: 0.85rem;
      }
      h2 {
        color: var(--light-text);
        font-size: 0.65rem;
        padding-bottom: 0.3rem;
      }
      .info-container {
        grid-area: info;
        display: grid;
        grid-template-columns: 33% 40% auto;
        grid-template-rows: 100%;

        .info-wrapper {
          padding: 0;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          justify-content: center;
        }
      }
      .text-btn {
        align-self: center;
      }
    }
  }
}
@media (min-width: 1000px) {
  .MainAdmin {
    padding: 0 1rem 1rem 1rem;
    .UserList {
      padding: 0.5rem 0.5rem 5rem;
    }
  }
}
@media (min-width: 1200px) {
  .MainAdmin {
    .UserCard {
      .info-container {
        .info-wrapper {
          padding-left: 1rem;
        }
      }
    }
  }
}
@media (min-width: 1450px) {
  .MainAdmin {
    min-height: auto;
    height: auto;
    max-height: calc((var(--vh, 1vh) * 100 - 80px));

    .UserList {
      padding: 0.5rem 0.5rem 0;
      .grid-wrapper {
        display: grid;
        grid-template-columns: (repeat(4, 1fr));
        column-gap: 1.2rem;
      }
      .UserCard {
        grid-template-areas:
          "image info info"
          "button division division";

        grid-template-columns: 5rem auto;
        grid-template-rows: 65% 35%;
        height: 9rem;
        padding: 1rem;
        img {
          grid-area: image;
          width: 60px;
          height: 60px;
          align-self: flex-start;
          justify-self: center;
        }
        .info-container {
          display: block;
          grid-area: info;
          padding-left: 0rem;
          .info-wrapper {
            padding-bottom: 0.8rem;
          }
        }
        .info-wrapper:nth-child(3) {
          grid-area: division;
        }
        button {
          grid-area: button;
        }
      }
    }
    .UserCard button.usercard.btn {
      justify-self: center;
      align-self: flex-end;
    }
  }
}
@media (min-width: 1600px) {
  .UserList .grid-wrapper {
    grid-template-columns: (repeat(4, 1fr));
    .UserCard {
      grid-template-areas:
        "image info info"
        "image division button";
      button.usercard.btn {
        justify-self: flex-end;
      }
    }
  }
}
@media (min-width: 1900px) {
  .MainAdmin .UserList .UserCard {
    grid-template-columns: 100px auto;

    img {
      width: 90px;
      height: 90px;
      align-self: center;
    }
  }
}
@media (min-width: 2200px) {
  .MainAdmin .UserList .grid-wrapper {
    grid-template-columns: (repeat(5, 1fr));
  }
}
