.TopBar .ChatNav {
  display: none;
}

.ChatNav {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.6937149859943977) 48%,
    rgba(255, 255, 255, 0) 100%
  );
  height: calc(1rem + 40px);
  .float-btn {
    background-color: var(--primary);
    box-shadow: var(--card-shadow);

    border-radius: 50%;
    padding: 0;
    svg {
      stroke-width: 0;
    }
  }
  .float-btn.all {
    justify-self: flex-end;
  }
  .nav-wrapper {
    display: grid;
    grid-template-columns: 48px auto 48px;

    .text-btn {
      display: flex;
      align-items: center;
      width: max-content;
      align-self: center;
      justify-self: center;
      max-width: 250px;
      padding: 0 3rem 0 1rem;
      height: 2rem;
      box-shadow: var(--card-shadow);
      background: rgba(255, 255, 255, 0.9);

      border-bottom-width: 0;
      position: relative;

      .MuiInputBase-input {
        font-family: "IBMPlexSans-Medium";
      }

      svg {
        fill: var(--primary);
        /*       filter: grayscale(0.8); */
        position: absolute;
        right: 1rem;
        top: 0.1rem;
        pointer-events: none;
      }
      .MuiFormControl-marginNormal {
        margin: 0;
      }

      .MuiInput-underline:before,
      .MuiInput-underline:after {
        border-bottom-width: 0px;
        border-bottom-color: white;
        transition-property: none;
        left: auto;
        right: auto;
        bottom: auto;
      }
    }
  }
  .MuiIconButton-root {
    padding-left: 0;
    padding-right: 0.4rem;
  }
  .MuiInputBase-root {
    color: var(--dark-text);
  }
}

.Chat {
  padding: 1rem;

  p {
    font-size: 0.85rem;
  }
}

.MessageBoard {
  height: calc(100vh - 130px);
  padding-top: 2rem;
  .messageList {
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    ul {
      height: auto;
    }
  }
}

.Message {
  width: 100%;
  .message {
    line-height: 1.15rem;
  }
  .message-container {
    display: grid;
    margin-bottom: 2rem;
    img {
      height: 55px;
      width: 55px;
      object-fit: cover;
      grid-area: img;
    }
    .message-wrapper {
      grid-area: text;
      border-radius: var(--border-radius);
      padding: 1rem;

      .name {
        font-size: 0.875rem;
        padding-bottom: 0.3rem;
      }
      .time {
        font-size: 0.6875rem;
        color: var(--light-text);
        padding-bottom: 0.5rem;
      }
    }
    &[data-user="me"] {
      grid-template-columns: auto 55px;
      grid-template-areas: "text img";
      .message-wrapper {
        background-color: var(--chat-me);
        margin-right: 1rem;
      }
    }
    &[data-user="you"] {
      grid-template-columns: 55px auto;
      grid-template-areas: "img text";
      .message-wrapper {
        background-color: var(--chat-you);
        margin-left: 1rem;
      }
    }
  }
}
.NewMessage {
  position: relative;
  margin: 0 auto;

  svg {
    fill: var(--primary);
    position: absolute;
    transform: translate(calc(100vw - 5rem), 30px);
    width: 35px;
    height: 35px;
  }
  textarea {
    padding: 0 2.5rem 0 0;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .MuiOutlinedInput-multiline {
    padding: 0.5rem 1rem;
  }
}
.line-wrapper {
  display: none;
}
@media (min-width: 500px) {
  .Message {
    .message-container {
      &[data-user="me"] {
        padding-left: 5rem;
        .message-wrapper {
          justify-self: flex-end;
        }
      }
      &[data-user="you"] {
        padding-right: 5rem;
        .message-wrapper {
          justify-self: flex-start;
        }
      }
    }
    .message-container .message-wrapper {
      max-width: 400px;
    }
  }
}
@media (min-width: 650px) {
  .Message {
    .line-wrapper {
      display: grid;
      grid-template-columns: auto 8rem auto;
      padding: 0 4.5rem;

      h3 {
        color: var(--light-text);
        font-size: 0.65rem;
        align-self: center;
        justify-self: center;
      }
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: var(--chat-you);
      margin: 2rem 0;
    }
    .message-container {
      &[data-user="me"] {
        padding-left: 10rem;
      }
      &[data-user="you"] {
        padding-right: 10rem;
      }
    }
  }
}
@media (min-width: 1000px) {
  .Chat .ChatNav {
    display: none;
  }
  .ChatNav .MuiInputBase-root {
    color: var(--light-text);
  }
  .MessageBoard {
    height: calc(100vh - 185px);
  }
  .NewMessage svg {
    transform: none;
    right: 1.5rem;
    top: 1.5rem;
  }
  .TopBar .ChatNav {
    display: block;
    justify-self: center;
    .text-btn {
      margin: 0 auto;
      padding: 1.2rem 4rem 1.2rem 2rem;
      svg {
        right: 1.5rem;
        top: 0.4rem;
      }
    }
  }
  .ChatNav {
    background: transparent;
    position: static;
    .float-btn {
      display: none;
    }
    .nav-wrapper {
      display: block;
    }
    svg {
      stroke-width: 0;
    }
  }
  .Chat {
    padding-top: 0;
  }
  .TopBar .chat-top .grid-wrapper {
    grid-template-columns: 8rem auto 8rem;
    grid-template-areas: "sorted filter chat";
    .float-btn.all {
      flex-direction: column;
      transform: translateY(-4px);
      svg {
        stroke-width: 1px;
        stroke: white;
      }
      p {
        font-size: 0.65rem;
      }
    }

    .filter-wrapper {
      transform: translateY(4px);
    }
    .sorted {
      transform: translateY(4px);
    }
  }
}

@media (min-width: 1300px) {
  .Chat {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (min-width: 1700px) {
  .Chat {
    width: 1400px;
    margin: 0 auto;
  }
  .NewMessage {
    max-width: none;
  }
}
