.TopBar .ChatNav {
  display: none;
}
button.sendMessage {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  color: transparent;

  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
.ChatNav {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.6937149859943977) 48%,
    rgba(255, 255, 255, 0) 100%
  );
  height: calc(1rem + 40px);
  .float-btn {
    background-color: var(--primary);
    box-shadow: var(--card-shadow);

    border-radius: 50%;
    padding: 0;
    svg {
      stroke-width: 0;
    }
  }
  .float-btn.all {
    justify-self: flex-end;
  }
  .nav-wrapper {
    display: grid;
    grid-template-columns: 48px auto 48px;

    .text-btn {
      display: flex;
      align-items: center;
      width: max-content;
      align-self: center;
      justify-self: center;
      max-width: 250px;
      padding: 0 3rem 0 1rem;
      height: 2rem;
      background: rgba(255, 255, 255, 0.9);

      border-bottom-width: 0;
      position: relative;

      .MuiInputBase-input {
        font-family: "IBMPlexSans-Medium";
      }

      svg {
        fill: var(--primary);
        /*       filter: grayscale(0.8); */
        position: absolute;
        right: 1rem;
        top: 0.1rem;
        pointer-events: none;
      }
      .MuiFormControl-marginNormal {
        margin: 0;
      }

      .MuiInput-underline:before,
      .MuiInput-underline:after {
        border-bottom-width: 0px;
        border-bottom-color: white;
        transition-property: none;
        left: auto;
        right: auto;
        bottom: auto;
      }
    }
  }
  .MuiIconButton-root {
    padding-left: 0;
    padding-right: 0.4rem;
  }
  .MuiInputBase-root {
    color: var(--dark-text);
  }
}
#root .ChatNav .text-btn {
  box-shadow: var(--card-shadow);
}

.Chat {
  p {
    font-size: 0.85rem;
  }
}

.MessageBoard,
.Chat,
.messageList {
  scrollbar-width: none;
}

.MessageBoard {
  //height: calc(100vh - 100px - 0.5rem);
  height: calc((var(--vh, 1vh) * 100) - 100px - 0.5rem);
  padding-top: 4rem;

  .messageList {
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    ul {
      height: auto;
    }
  }
}

.Message {
  width: 100%;
  padding: 0 1rem;
  .message {
    line-height: 1.15rem;
    white-space: pre-wrap;
  }
  .message-container {
    display: grid;
    margin-bottom: 2rem;

    img {
      height: 55px;
      width: 55px;
      object-fit: cover;
      grid-area: img;
    }
    .message-wrapper {
      grid-area: text;
      border-radius: var(--border-radius);
      padding: 1rem;

      .name {
        font-size: 0.875rem;
        padding-bottom: 0.3rem;
      }
      .time {
        font-size: 0.6875rem;
        color: var(--light-text);
        padding-bottom: 0.5rem;
      }

      .edit-form {
        height: auto;
        font-family: "IBMPlexSans-Regular";
        font-size: 0.875rem;
        width: 100%;
      }
      .edit-wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-bottom: 0.2rem;
        justify-content: space-between;

        svg {
          width: 20px;
          height: 20px;
          margin-left: 0.5rem;
          margin-bottom: 0.3rem;
        }
        .deleteMessage {
          display: flex;
          flex-wrap: nowrap;

          .float-btn {
            background-color: var(--primary);
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    &[data-user="me"] {
      grid-template-columns: auto 55px;
      grid-template-areas: "text img";
      .message-wrapper {
        background-color: var(--chat-me);
        margin-right: 1rem;
      }
    }
    &[data-user="you"] {
      grid-template-columns: 55px auto;
      grid-template-areas: "img text";
      .message-wrapper {
        background-color: var(--chat-you);
        margin-left: 1rem;
      }
    }
  }
}

.checkbox-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  top: -1.2rem;
  right: 0rem;
  p {
    margin: 1.5em 0;
    padding: 0;
  }
  label {
    padding-left: 0.5rem;
    font-family: "IBMPlexSans-Regular";
    font-size: 0.875rem;
    cursor: pointer;
  }
  input[type="checkbox"] {
    visibility: hidden;
  }
  input[type="checkbox"] + label:before {
    border: 1px solid var(--dark-text);
    background: white;
    content: "\00a0";
    display: inline-block;
    font: 10px sans-serif;
    height: 12px;
    margin: 0 0.25rem 0 0;
    padding: 0;
    vertical-align: top;
    width: 12px;
  }
  input[type="checkbox"]:checked + label:before {
    background: var(--primary);
    color: white;
    border: var(--primary) 1px solid;
    content: "\2713";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }

  input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }
}
.textarea-wrapper {
  textarea {
    padding: 0.5rem;

    border-width: 0;
    border-radius: var(--border-radius);
    resize: none;
  }
  .btn-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-top: 1rem;
  }
  .float-btn {
    background-color: var(--primary);
    height: 30px;
    width: 30px;
    margin-left: 0.5rem;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .float-btn:nth-child(1) {
    background-color: var(--secondary);
  }
}

.NewMessage {
  position: fixed;
  margin: 0 auto;
  bottom: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  background-color: white;
  button.sendMessage {
    position: absolute;
    transform: translate(calc(100vw - 5rem), 30px);
    z-index: 100;
  }
  svg {
    fill: var(--primary);
    /*     position: absolute;
    transform: translate(calc(100vw - 5rem), 30px); */
    width: 35px;
    height: 35px;
  }
  textarea {
    padding: 0 3rem 0 0;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .MuiOutlinedInput-multiline {
    padding: 0.5rem 1rem;
  }
}
.line-wrapper {
  display: none;
}
@media (min-width: 500px) {
  .Message {
    .message-container {
      &[data-user="me"] {
        padding-left: 5rem;
        .message-wrapper {
          justify-self: flex-end;
        }
      }
      &[data-user="you"] {
        padding-right: 5rem;
        .message-wrapper {
          justify-self: flex-start;
        }
      }
    }
    .message-container .message-wrapper {
      max-width: 400px;
    }
  }
}
@media (min-width: 650px) {
  .Message {
    .line-wrapper {
      display: grid;
      grid-template-columns: auto 8rem auto;
      padding: 0 4.5rem;

      h3 {
        color: var(--light-text);
        font-size: 0.65rem;
        align-self: center;
        justify-self: center;
      }
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: var(--chat-you);
      margin: 2rem 0;
    }
    .message-container {
      &[data-user="me"] {
        padding-left: 10rem;
      }
      &[data-user="you"] {
        padding-right: 10rem;
      }
    }
  }
}
@media (min-width: 1000px) {
  .Chat .ChatNav {
    display: none;
  }
  .ChatNav .MuiInputBase-root {
    color: var(--light-text);
  }
  .MessageBoard {
    height: calc((var(--vh, 1vh) * 100) - 70px - 2.5rem);
    padding-top: 0;
  }
  .NewMessage .sendMessage {
    width: 45px;
    height: 45px;
    position: absolute;
    transform: none;
    right: 15px;
    top: 23px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .NewMessage svg {
    transform: none;
  }
  .NewMessage {
    position: relative;
    margin: 0 auto;
    bottom: 0rem;
    left: 0rem;
    button.sendMessage {
      transform: none;
    }
  }
  .TopBar .ChatNav {
    display: block;
    margin: 0 auto;
    button.text-btn {
      margin: 0 auto;
      box-shadow: var(--card-shadow);
      input {
        cursor: pointer;
        padding-right: 1rem;
      }
      svg {
        right: 1.5rem;
        top: 0.1rem;
      }
    }
  }
  #root .TopBar .ChatNav button.text-btn {
    box-shadow: var(--card-shadow);
  }

  .ChatNav {
    background: transparent;
    position: static;
    .float-btn {
      display: none;
    }
    .nav-wrapper {
      display: block;
    }
    svg {
      stroke-width: 0;
    }
  }
  .Chat {
    padding-top: 0;
    transform: translateY(-80px);
  }
  .TopBar .chat-top .grid-wrapper {
    grid-template-columns: 8rem auto 8rem;
    grid-template-areas: "sorted filter chat";
    .float-btn.all {
      flex-direction: column;
      transform: translateY(-4px);
      svg {
        stroke-width: 1px;
        stroke: white;
      }
      p {
        font-size: 0.65rem;
      }
    }

    .filter-wrapper {
      transform: translateY(4px);
    }
    .sorted {
      transform: translateY(4px);
    }
  }
}

@media (min-width: 1300px) {
  .Chat {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (min-width: 1700px) {
  .Chat {
    width: 1400px;
    margin: 0 auto;
  }
  .NewMessage {
    max-width: none;
  }
}
