.FilterTasks,
.TopBar {
  margin-bottom: 1rem;
  // border-radius: var(--border-radius);
}

.FilterUsers,
.FilterTasks,
.TopBar {
  background-color: white;
  box-shadow: var(--card-shadow);
  margin-bottom: 0.5rem;
  padding: 1rem;

  .filter-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
  }
  .division,
  .hours,
  .select,
  .category,
  .employee {
    width: 45%;
  }
  select.MuiSelect-outlined {
    font-family: "IBMPlexSans-Regular";
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    transform: translate(0px, -1px);
    color: var(--dark-text);
  }

  label {
    color: var(--light-text);
    font-family: "IBMPlexSans-Medium";
  }
  .MuiInputLabel-outlined {
    transform: translate(14px, 8px) scale(0.9);
  }
  .searchUsers {
    position: relative;
    .MuiInputLabel-shrink {
      transform: translate(0px, 10px) scale(0.75);
    }
  }
  .search-icon {
    position: absolute;
    transform: translate(-2rem, 16px);
    width: 25px;
    height: 25px;
    fill: var(--dark-text);
    stroke: var(--dark-text);
    stroke-width: 1px;
  }
  .input-wrapper {
    padding: 0 0.5rem;
    .MuiFormControl-root.MuiTextField-root label.MuiFormLabel-root {
      font-family: "IBMPlexSans-Regular";
      font-size: 0.8rem;
    }
  }
}

.FilterTasks {
  padding: 0 1rem 0.5rem;
  transform: translateY(-135px);
  border-radius: 0px 0px 10px 10px;
  position: relative;
  z-index: 1;
}

.FilterUsers {
  transform: translateY(-135px);
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 1.5rem;
  position: relative;
  z-index: 140;
}
@media (min-width: 1000px) {
  .FilterUsers,
  .FilterTasks {
    transform: translateY(0);
    display: none;
  }

  .TopBar {
    .filter-wrapper,
    .input-wrapper {
      .Mui-disabled,
      svg {
        opacity: 0.5;
      }
    }
  }

  .TopBar {
    padding: 1rem 2rem 0;
    .admin-top,
    .planner-top {
      height: 100%;
    }

    .grid-wrapper {
      display: grid;
      grid-template-areas: "sorted filter . search add chat";
      grid-template-columns: 6rem 20rem auto 9rem 4rem 50px;
      align-content: center;
      align-items: center;
      height: 100%;

      .sorted {
        grid-area: sorted;
      }
      .filter-wrapper {
        grid-area: filter;
      }
      .input-wrapper {
        grid-area: search;
      }
      .filter-wrapper,
      .input-wrapper {
        transform: translateY(-10px);
      }
      .MuiAutocomplete-endAdornment svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall {
        fill: var(--orange);
        stroke: var(--orange);
      }
      svg {
        fill: var(--tietery);
        stroke: var(--tietery);
      }
      .float-btn {
        grid-area: chat;
        background-color: var(--primary);
        justify-self: flex-end;
        transform: translateY(-8px);
        svg {
          width: 22px;
          height: 22px;
          fill: white;
          stroke: none;
        }
      }
      .add-user,
      .add-task {
        grid-area: add;
        justify-self: center;
        width: 30px;
        height: 30px;
      }
      .add-user {
        stroke: none;
      }

      .add-task {
        transform: translateY(-7px);
      }
    }
    .grid-wrapper.noNewUser {
      grid-template-areas: "sorted filter . search chat";
      grid-template-columns: 6rem 30rem auto 20rem 50px;
    }
    .planner-top .grid-wrapper {
      .select:nth-child(2) {
        width: 60%;
      }
      grid-template-columns: 6rem 20rem auto 0rem 5rem 50px;
    }
    .category {
      width: 45%;
    }
    .employees {
      width: 45%;
    }
  }
}

@media (min-width: 1100px) {
  .TopBar .grid-wrapper {
    grid-template-columns: 6rem 20rem auto 10rem 5rem 50px;
  }
}
@media (min-width: 1200px) {
  .TopBar .grid-wrapper {
    grid-template-columns: 6rem 20rem auto 15rem 5rem 50px;
  }
  .TopBar .planner-top .grid-wrapper {
    .select:nth-child(1) {
      width: 35%;
    }
    .select:nth-child(2) {
      width: 65%;
    }
    grid-template-columns: 6rem 30rem auto 0rem 5rem 50px;
  }
}
@media (min-width: 1300px) {
  .TopBar .grid-wrapper {
    grid-template-columns: 6rem 20rem auto 20rem 5rem 50px;
  }
  .TopBar .planner-top .grid-wrapper {
    .select:nth-child(1) {
      width: 50%;
    }
    .select:nth-child(2) {
      width: 60%;
    }
    grid-template-columns: 6rem 30rem auto 0rem 5rem 50px;
  }
  .TopBar .category {
    width: 45%;
    color: #6fc4ad;
  }
}
