.login {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    padding: 1rem 0 2rem;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      fill: var(--primary);
    }
  }
  .error {
    color: var(--orange);
    font-size: 0.8rem;
    width: 100%;
    height: 13px;
    padding: 0 2rem 0 2.6rem;
  }
}

.login-inputs {
  width: 100%;
  padding: 0.8rem 1rem;
  input,
  label {
    width: 100%;
  }
  svg {
    width: 18px;
  }

  div:nth-child(2).MuiGrid-root.MuiGrid-item {
    width: calc(100% - 26px - 1rem);
  }
}
.login-inputs:nth-child(2) {
  width: 100%;
  padding: 0.8rem 1rem 0;
}

.signin-icon,
.question-icon {
  background-color: var(--secondary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill: white;
  }
}

.question-icon {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  h3 {
    color: white;
    font-size: 2.3rem;
  }
}
.login .button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  padding: 0 2rem;
  p {
    font-size: 0.875rem;
    color: var(--primary);
    padding-bottom: 3rem;
    cursor: pointer;
  }
  button {
    width: 10rem;
  }
}
.forgot {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  .forgot-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    align-items: flex-end;
    button.text-btn {
      width: 10rem;
      padding: 0.5rem !important;
    }
    input {
      width: 100%;
    }
  }
}

.resetSent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  svg {
    width: 100px;
    height: 100px;
    fill: var(--primary);
    margin-bottom: 10rem;
  }
}
.login-wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.Question {
  position: absolute;
  bottom: 6rem;
  width: 90%;
  max-width: 500px;
  padding: 1rem 2rem 2rem;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  p {
    line-height: 1.5rem;
    font-size: 0.85rem;
  }
  h2 {
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
  }
  a {
    color: var(--primary);
  }
}
@media (min-width: 600px) {
  .Question {
    right: 3rem;
  }
}
