.Menu,
.MenuDesktop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  .logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    width: 100%;
    height: 80px;
    h1 {
      color: white;
      font-size: 26px;
    }
  }
  .Profile {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 135px;
      height: 135px;
      object-fit: cover;
    }
    h1 {
      font-size: 1.15rem;
      padding: 1.5rem 0 0.2rem;
    }
    h3 {
      font-size: 0.85rem;
      color: var(--light-text);
      letter-spacing: 0.2px;
      padding: 0.5rem 0 1.5rem;
    }
  }
}

.MenuNav {
  padding-top: 3rem;
  padding-bottom: 2rem;
  li {
    display: flex;
    align-items: center;
    line-height: 3rem;
    h3 {
      padding-left: 0.5rem;
      color: var(--light-text);
      font-size: 0.9rem;
    }
    svg {
      fill: var(--light-text);
    }
  }
  li:nth-child(3) svg,
  li:nth-child(4) svg {
    width: 20px;
    margin-left: 0.2rem;
  }
  li:nth-child(5) svg {
    height: 22px;
  }
}

.SubMenu {
  width: 100%;
  background-color: var(--secondary);
  color: white;
  display: grid;
  grid-template-areas: "menu btn optional";
  padding: 0 1rem;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  svg {
    width: 30px;
    height: 30px;
  }
  .float-btn {
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    grid-area: btn;
    justify-self: center;
    position: absolute;
    transform: translate(0px, -25px);
  }
  .menuIcon,
  .menuBack {
    grid-area: menu;
    justify-self: flex-start;
    align-self: center;
    width: 35px;
    height: 35px;
  }

  .newUserIcon,
  .menuDelete,
  .menuAddTask {
    grid-area: optional;
    justify-self: flex-end;
    align-self: center;
  }
}
.MenuDesktop {
  display: none;
}
@media (min-width: 1000px) {
  .Menu {
    display: flex;
    background-color: white;
    box-shadow: var(--card-shadow);
    .Profile {
      padding-top: 3rem;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

.TopBar {
  background-color: white;
  box-shadow: var(--card-shadow);
  height: 80px;
}
