.UserForm {
  background-color: var(--background);
  opacity: 0;
  width: 100vw;
  //height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
  form,
  .FormPath {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
  }
  .FormPath {
    height: 7rem;
    padding: 1rem;
    .flex-wrapper {
      padding-top: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .float-btn.one {
      background-color: var(--secondary);
    }
    .float-btn {
      width: 30px;
      height: 30px;
      background-color: var(--tietery);
      h3 {
        font-size: 0.87rem;
      }
    }
    h2 {
      font-size: 1.25rem;
    }
    .line {
      height: 1px;
      width: 5%;
      border: 1px solid var(--tietery);
    }
    p {
      font-size: 0.875rem;
      padding-left: 0.5rem;
    }
    .subject {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  form {
    height: calc(100% - 1.2rem - 7rem);
    overflow-y: scroll;
    margin: 1.5rem 0;
    position: relative;
    .PersonForm {
      height: 80%;
    }
  }

  .PersonForm,
  .WorkForm,
  .PrivateForm {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 1.5rem 1rem 1rem;
  }
  .PersonForm {
    z-index: 101;
    .flex-wrapper {
      display: flex;
      justify-content: center;
      .MuiFormControl-root {
        padding-right: 1rem;
      }
    }
  }
  .WorkForm {
    z-index: 102;
    .email[data-state="edit"] {
      pointer-events: none;
      input {
        color: rgb(153, 153, 153);
      }
    }
    .input-wrapper:nth-child(7) {
      cursor: not-allowed;
    }
  }
  .PrivateForm {
    z-index: 103;
  }
}
.upload-image {
  display: flex;
  align-items: center;
  padding: 0.3rem 1.5rem 0.3rem 1rem;

  svg {
    margin-left: 0.5rem;
  }
}
input[type="file"] {
  display: none;
}
.upload-image {
  pointer-events: none;
  background-color: var(--primary);
}

.upload-wrapper {
  padding-top: 1.5rem;
}
.PrivateForm .upload-wrapper {
  padding-top: 1rem;
}
.UserForm .previewImg {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 60%;
  object-fit: contain;
  box-shadow: none;
  border-radius: 0px;
}
.FormNav {
  .float-btn {
    background-color: var(--primary);
    bottom: 2rem;
    position: fixed;
    right: 1.5rem;
    padding: 0;
    z-index: 104;

    .check {
      z-index: 105;
    }
  }
  .float-btn:nth-child(1) {
    background-color: var(--secondary);
    right: auto;
    left: 1.5rem;
    // transform: translateX(1.5rem);
  }
  .back {
    background-color: var(--tietery);
    right: auto;
    left: 5rem;
    // transform: translate(5rem);
  }
}
.upload-wrapper {
  .custom-upload .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    p {
      padding-left: 0.5rem;
    }
  }
}
.FormPath,
.Form {
  max-width: 500px;
  margin: 0 auto;
}
.UserForm .Form {
  margin: 1.2rem auto 0;
}
.UserForm .float-btn svg {
  width: 25px;
  height: 25px;
}
.succes {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  //height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 132;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #loader {
    height: 0.75rem;
    width: 50%;
  }
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(
        -45deg,
        transparent 100%,
        rgba(0, 0, 0, 0.1) 33%,
        rgba(0, 0, 0, 0.1) 66%,
        transparent 100%
      ),
      -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
      -webkit-linear-gradient(left, #384d62, #1ec69a);

    border-radius: 20px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}
.input-wrapper {
  width: 100%;
}

.error {
  color: var(--orange);
}
@media (min-width: 500px) {
  .UserForm .FormPath .line {
    width: 15%;
  }
}
@media (max-height: 730px) {
  .UserForm .previewImg {
    max-height: 100%;
    margin-bottom: 2rem;
  }
}
@media (max-height: 770px) and (max-width: 750px) {
  .UserForm {
    padding-bottom: 4.5rem;
    .PrivateForm {
      margin-bottom: 3rem;
    }
    .FormNav {
      .float-btn {
        bottom: 1rem;
      }
    }

    .WorkForm .upload-wrapper .custom-upload .flex-wrapper,
    .PrivateForm > div:nth-child(8) {
      margin-bottom: 2rem;
    }
  }
}
@media (min-height: 730px) and (min-width: 500px) {
  .UserForm {
    .Form {
      max-height: 600px;
      overflow: hidden;
    }
  }
}
@media (min-height: 850px) {
  .UserForm {
    padding-top: 5vh;
  }
}

@media (min-width: 1000px) {
  .UserForm .FormPath,
  .UserForm .Form {
    min-width: 700px;
  }
  .UserForm .PersonForm,
  .UserForm .WorkForm,
  .UserForm .PrivateForm {
    padding: 1.5rem 3rem 1rem;
  }
  .UserForm .FormPath {
    padding: 1.5rem 3rem 1rem;
    height: 8rem;
  }
  .UserForm .FormPath .line {
    width: 20%;
  }
}
@media (min-height: 1000px) and (min-width: 1200px) {
  .UserForm .Form {
    max-height: 800px;
  }
}
