@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("../fonts/IBMPlexSans-Bold.eot");
  src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff2"), url("../fonts/IBMPlexSans-Bold.woff") format("woff"),
    url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../fonts/IBMPlexSans-Medium.eot");
  src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2"), url("../fonts/IBMPlexSans-Medium.woff") format("woff"),
    url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("../fonts/IBMPlexSans-Regular.eot");
  src: url("../fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Regular.woff") format("woff"), url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../fonts/IBMPlexSans-SemiBold.eot");
  src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-SemiBold.woff") format("woff"),
    url("../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  //COLORS
  --primary: #1ec69a;
  --secondary: #384d62;
  --tietery: #b0b2b5;
  --background: #f3f7fc;
  --dark-text: #222224;
  --light-text: #9b9b9b;
  --yellow: #f0c75d;
  --orange: #d98c6a;
  --danger: #b33600;
  --chat-you: #eaecef;
  --chat-me: #c9eee5;

  //PLANNER COLORS

  --orange-p: #fb6126;
  --green-p: #41c1a0;
  --purple-p: #8567b2;
  --yellow-p: #b4b256;
  --blue-p: #34d0d5;
  --black-p: #222224;

  //SHADOWS
  --shadow-button: 2px 2px 3px #384d623f;
  --shadow-image: 0px 1px 10px #384d626e;
  --card-shadow: 0px 1px 15px #384d6228;

  --border-radius: 10px;

  //BUTTONS
  --border-button: 20px;
  --gradient: linear-gradient(0deg, rgba(30, 198, 154, 1) 0%, rgba(98, 189, 166, 1) 100%);
}

body {
  width: 100vw;
  //height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
#root {
  width: 100%;
  height: 100%;
  position: relative;
}
.App {
  width: 100%;
  height: 100%;
}

.question-icon,
button,
.float-btn,
.subject > p,
li,
svg.add-user,
svg.add-task,
.custom-upload .flex-wrapper {
  cursor: pointer;
}

h1 {
  font-family: "IBMPlexSans-SemiBold";
}
h2 {
  font-family: "IBMPlexSans-Bold";
}
h3 {
  font-family: "IBMPlexSans-Medium";
}
p,
label .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
  font-family: "IBMPlexSans-Regular";
}
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 20px;
}
::selection {
  background: var(--primary);
}

::-moz-selection {
  background: var(--primary);
}
.progress {
  cursor: progress;
  pointer-events: none;
}
button:not(.MuiIconButton-root):not(.float-btn):not(.sendMessage)/* :not(.ChatNav.text-btn) */,
button.MuiButton-root:not(.MuiIconButton-root):not(.float-btn):not(.sendMessage) {
  font-family: "IBMPlexSans-Medium";
  color: white;
  font-size: 0.85rem;
  padding: 0.5rem 2rem;
  border: none;
  box-shadow: var(--shadow-button);
  border-radius: var(--border-button);
  letter-spacing: 0.5px;
}
.float-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  &:disabled {
    filter: brightness(1.5) saturate(0.2);
  }
}
.float-btn svg,
.menuBack svg {
  fill: white;
  stroke: white;
  stroke-width: 1px;
}
img {
  box-shadow: var(--shadow-image);
  border-radius: 50%;
}
.text-btn {
  background-color: var(--primary);
  background: var(--gradient);
}

a {
  color: currentColor;
  text-decoration: none;
}

.MuiFormControl-root.MuiTextField-root,
.MuiInputBase-root.MuiInput-root.MuiInput-underline,
.MuiFormControl-root {
  width: 100%;

  label.MuiFormLabel-root {
    font-size: 0.875rem;
    padding-bottom: 0px;
  }
}
.input-wrapper {
  padding: 0.7rem 0;
}
.App .MuiInputBase-input {
  font-size: 0.875rem;
  font-family: "IBMPlexSans-Regular";
}

.loading-page {
  position: fixed;
  width: 100vw;
  // height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  z-index: 120;
  background-color: rgba(255, 255, 255, 0.658);
  > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
span.MuiFormLabel-asterisk.Mui-error,
.MuiFormHelperText-root.Mui-error.Mui-required {
  color: var(--orange);
}
.MuiFormLabel-root.Mui-error.Mui-required {
  color: var(--light-text);
}
.hide {
  display: none;
}
.TopBar {
  display: none;
}

.hiddenFromUser {
  display: none;
}

.MenuNav li.hiddenFromUser {
  display: none;
}

.MuiSvgIcon-root.hiddenFromUser {
  display: none;
}

@media (min-width: 1000px) {
  .SubMenu {
    display: none;
  }
  .float-btn {
    width: 50px;
    height: 50px;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .Administration {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "menu topbar"
      "menu content";
    grid-template-columns: 250px auto;
    grid-template-rows: calc(80px + 1rem) auto;
  }
  .MenuDesktop {
    grid-area: menu;
  }
  .TopBar {
    display: block;
    grid-area: topbar;
  }
  .TopBar[data-state="chat"] {
    background-color: transparent;
    box-shadow: none;
    z-index: 10;
  }
  .MainAdmin,
  .Planner,
  .Chat {
    grid-area: content;
  }
}
