@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("../fonts/IBMPlexSans-Bold.eot");
  src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff2"), url("../fonts/IBMPlexSans-Bold.woff") format("woff"),
    url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../fonts/IBMPlexSans-Medium.eot");
  src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2"), url("../fonts/IBMPlexSans-Medium.woff") format("woff"),
    url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("../fonts/IBMPlexSans-Regular.eot");
  src: url("../fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Regular.woff") format("woff"), url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../fonts/IBMPlexSans-SemiBold.eot");
  src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-SemiBold.woff") format("woff"),
    url("../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --always-white: #dddcdc;
}

:root body[data-state="regular"] {
  //COLORS
  --primary: #1ec69a;
  --secondary: #384d62;
  --tietery: #b0b2b5;
  --background: #f3f7fc;
  --dark-text: #222224;

  --light-text: #9b9b9b;
  --menu-text: #555555;
  --white: #ffffff;
  --yellow: #f0c75d;
  --orange: #d98c6a;
  --danger: #b33600;
  --chat-you: #eaecef;
  --chat-me: #c9eee5;
  --done: #1ec69a;
  --list-titles: #b7e7da;
  --line: #eaecef;
  --button: #ffffff;
  --new-message: #ffffff;
  --message-warning: #ff6127;
  --message-text: #eeeeee;

  //PLANNER COLORS

  --orange-p: #d98c6a;
  --green-p: #41c1a0;
  --purple-p: #8567b2;
  --yellow-p: #b4b256;
  --blue-p: #34d0d5;
  --black-p: #222224;

  //SHADOWS
  --shadow-button: 2px 2px 3px #384d623f;
  --shadow-image: 0px 1px 10px #384d626e;
  --card-shadow: 0px 1px 15px #384d6228;

  --border-radius: 10px;

  //BUTTONS
  --border-button: 20px;
  --gradient: linear-gradient(0deg, rgba(30, 198, 154, 1) 0%, rgba(98, 189, 166, 1) 100%);
}
:root body[data-state="orange"] {
  //COLORS
  --primary: #dd5620;
  --secondary: #494949;
  --tietery: #a1a1a1;
  --background: #eeeeee;
  --dark-text: #000000;
  --light-text: #9b9b9b;
  --menu-text: #555555;
  --white: #ffffff;
  --yellow: #fdb500;
  --orange: #d84404;
  --danger: #b30000;
  --chat-you: #ffffff;
  --chat-me: #f1ddd4;
  --done: #8faeaf;
  --list-titles: #f0cbba;
  --line: #8f8f8f;
  --button: #ffffff;
  --new-message: #ffffff;
  --message-warning: #00ab8e;
  --message-text: #ffffff;
  //PLANNER COLORS

  --orange-p: #494949;
  --green-p: #00bb8c;
  --purple-p: #4e03be;
  --yellow-p: #b6b30c;
  --blue-p: #009ea3;
  --black-p: #222224;

  //SHADOWS
  --shadow-button: 2px 2px 3px #384d623f;
  --shadow-image: 0px 1px 10px #384d626e;
  --card-shadow: 0px 1px 15px #384d6228;

  --border-radius: 10px;

  //BUTTONS
  --border-button: 20px;
  --gradient: linear-gradient(0deg, #dd5620 0%, #db550d 100%);
}
:root body[data-state="dark"] {
  //COLORS
  --primary: #5f61e4;
  --secondary: #292929;
  --tietery: #4d4d4d;
  --background: #464646;
  --dark-text: #cfcfcf;
  --light-text: #838383;
  --menu-text: #b9b9b9;
  --white: #1d1d1d;
  --yellow: #d4ad29;
  --orange: #c4681d;
  --danger: #b30000;
  --chat-you: #585858;
  --chat-me: #2e2e36;
  --done: #272879;
  --list-titles: #545866;
  --line: #8f8f8f;
  --button: #cfcfcf;
  --new-message: #292929;
  --message-warning: #b92b00;
  --message-text: #cfcfcf;

  //PLANNER COLORS

  --orange-p: #c04706;
  --green-p: #00bb8c;
  --purple-p: #4e03be;
  --yellow-p: #d4ad29;
  --blue-p: #009ea3;
  --black-p: #222224;

  //SHADOWS
  --shadow-button: 2px 2px 3px #384d623f;
  --shadow-image: 0px 1px 10px #384d626e;
  --card-shadow: 0px 1px 15px #384d6228;

  --border-radius: 10px;

  //BUTTONS
  --border-button: 20px;
  --gradient: linear-gradient(0deg, #3d3fd8 0%, #5f61e4 100%);
}

body {
  width: 100vw;

  height: calc(var(--vh, 1vh) * 100);
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  li,
  button,
  a {
    color: var(--dark-text);
  }
}
#root {
  width: 100%;
  height: 100%;
  position: relative;
}
.App {
  width: 100%;
  height: 100%;
}

.question-icon,
button,
.float-btn,
.subject > p,
li,
svg.add-user,
svg.add-task,
.custom-upload .flex-wrapper {
  cursor: pointer;
}

h1 {
  font-family: "IBMPlexSans-SemiBold";
}
h2 {
  font-family: "IBMPlexSans-Bold";
}
h3 {
  font-family: "IBMPlexSans-Medium";
}
p,
label .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
  font-family: "IBMPlexSans-Regular";
}
* {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 20px;
}
::selection {
  background: var(--primary);
}

::-moz-selection {
  background: var(--primary);
}
.progress {
  cursor: progress;
  pointer-events: none;
}
button:not(.MuiIconButton-root):not(.float-btn):not(.sendMessage)/* :not(.ChatNav.text-btn) */,
button.MuiButton-root:not(.MuiIconButton-root):not(.float-btn):not(.sendMessage) {
  font-family: "IBMPlexSans-Medium";
  color: var(--button);
  font-size: 0.85rem;
  padding: 0.5rem 2rem;
  border: none;
  box-shadow: var(--shadow-button);
  border-radius: var(--border-button);
  letter-spacing: 0.5px;
}
.float-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button);
  box-shadow: var(--shadow-button);
  &:disabled {
    filter: brightness(1.5) saturate(0.2);
  }
}
.float-btn:not(.theList):not(.edit):not(.delete):not(.save):not(.one):not(.two):not(.three):not(.archivedSingleProfiles) {
  animation: glow 5s ease-out 0s infinite forwards;
}
.float-btn svg,
.menuBack svg {
  fill: var(--button);
  stroke: var(--button);
  stroke-width: 1px;
}
img {
  box-shadow: var(--shadow-image);
  border-radius: 50%;
}
.text-btn {
  background-color: var(--primary);
  background: var(--gradient);
}

a {
  color: currentColor;
  text-decoration: none;
}

.MuiFormControl-root.MuiTextField-root,
.MuiInputBase-root.MuiInput-root.MuiInput-underline,
.MuiFormControl-root {
  width: 100%;

  label.MuiFormLabel-root {
    font-size: 0.875rem;
    padding-bottom: 0px;
  }
}
.input-wrapper {
  padding: 0.7rem 0;
}
.App .MuiInputBase-input {
  font-size: 0.875rem;
  font-family: "IBMPlexSans-Regular";
}

.loading-page {
  position: fixed;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  z-index: 120;
  background-color: rgba(255, 255, 255, 0.658);
  > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
span.MuiFormLabel-asterisk.Mui-error,
.MuiFormHelperText-root.Mui-error.Mui-required {
  color: var(--orange);
}
.MuiFormLabel-root.Mui-error.Mui-required {
  color: var(--light-text);
}
.hide {
  display: none;
}
.TopBar {
  display: none;
}

.hiddenFromUser {
  display: none;
}

.MenuNav li.hiddenFromUser {
  display: none;
}

.MuiSvgIcon-root.hiddenFromUser {
  display: none;
}

#root .MuiFormLabel-root {
  color: var(--light-text);
}

#root .MuiInputBase-root {
  color: var(--dark-text);
  svg {
    fill: var(--dark-text);
  }
}
#root .collaborators svg {
  fill: var(--button);
}
#root .MuiInput-underline:before {
  border-bottom: 1px solid var(--dark-text);
}
body[data-state="dark"] .MuiPopover-root .MuiPaper-root {
  color: #c2c2c2;
  background-color: #292929;
}
body[data-state="dark"] .MuiPaper-root {
  color: #c2c2c2;
  background-color: #292929;
}

.new-message {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.new-message[data-state="old"] {
  background-color: transparent;
}
.new-message[data-state="new"] {
  background-color: var(--message-warning);
}
.newNumber {
  font-size: 0.7rem;
  font-family: "IBMPlexSans-Medium";
  color: var(--message-text);
}

@keyframes glow {
  0% {
    box-shadow: var(--shadow-button);
  }
  92% {
    box-shadow: var(--shadow-button);
  }
  84% {
    box-shadow: 2px 2px 10px #2222246b;
  }
  90% {
    box-shadow: var(--shadow-button);
  }
  95% {
    box-shadow: 2px 2px 10px #2222246b;
  }
  100% {
    box-shadow: var(--shadow-button);
  }
}
@media (min-width: 1000px) {
  .SubMenu {
    display: none;
  }
  .float-btn {
    width: 50px;
    height: 50px;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .Administration {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "menu topbar"
      "menu content";
    grid-template-columns: 250px auto;
    grid-template-rows: calc(80px + 1rem) auto;
  }
  .MenuDesktop {
    grid-area: menu;
  }
  .TopBar {
    display: block;
    grid-area: topbar;
  }
  .TopBar[data-state="chat"] {
    z-index: 10;
    padding-top: 1.4rem;
  }
  .MainAdmin,
  .Planner,
  .Chat {
    grid-area: content;
  }
}
